<ion-header>
      <ion-toolbar>
        <ion-buttons  slot="start">
          <ion-back-button class="backbu"></ion-back-button>
        </ion-buttons>
        <ion-title>Inicia Sesion :D</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-content class="pass">

    <ion-avatar class="Icono">
      <ion-icon class="Icono" name="person-circle-outline"></ion-icon>
    </ion-avatar>
  
    <ion-item fill="outline" class="Login">
      <ion-label position="floating">Nombre de usuario/ correo</ion-label>
      <ion-input placeholder="Nombre de Usuario o correo"></ion-input>
      <ion-icon name="walk-sharp" slot="end"></ion-icon>
    </ion-item> 
  
    <ion-item fill="outline" class="Login">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" placeholder="Ingresa tu contraseña"></ion-input>
      <ion-icon name="key-sharp" slot="end"></ion-icon>
    </ion-item> 
  
    <ion-button class=" etiqueta" fill="clear" routerLink="/forgot-password">¿Olvidaste tu contraseña?</ion-button>
    
  
    <ion-button class="boton" fill="outline">Ingresar     
      <ion-icon name="glasses-outline" slot="end"></ion-icon>
    </ion-button>
  
    <ion-label class="msj">¿Aún no te has registrado? </ion-label>
    <ion-button class="etiqueta" fill="clear" routerLink="/registro">Registrate</ion-button>
  
</ion-content>
