.Login{
    width: 300px;
    margin:10px; 
    margin-left: 50px;
  
  }
  .Icono{
  width: 120px;
  height:120px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .menu{
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  
    --background: #7dc35a;
    --color: rgb(243, 243, 245);
  
    --border-radius: 0;
    --border-color: #eeefed;
    --border-style: solid;
    --border-width: 1px;
  
  }
  
  .boton{
  width: 180px;
  height:70px;
  vertical-align: -0px;
  margin-left: 115px;
  
  
  --background: #7dc35a;
  --color: rgb(243, 243, 245);
  
  --border-radius: 0;
  --border-color: #eeefed;
  --border-style: solid;
  --border-width: 1px;
  }
  
  .etiqueta{
  width: 500px;
    margin:10px; 
    margin-left:-50px;
  }

  