.pass{
  width: auto;
  --background: url(https://i.pinimg.com/474x/94/23/b6/9423b61549f78bef239492cf6be6ac78.jpg);
}
.Login{
    width: 300px;
    margin:10px; 
    margin-left: 32px;
  
  }
  .Icono{
  width: 120px;
  height:120px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
   
  .etiqueta{
  width: 500px;
    margin:10px; 
    margin-left:-66px;
  }



  