.pass{
    width: auto;
    margin-top: 30px;
}
.msj{
    margin-top: 20px;
    margin-left: 13px;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: medium;
}
.Login{
    width: 350px;
    margin:10px; 
    margin-left: 10px;
  }
  .menu{
    margin-bottom: 15px;
  }