<ion-header>

  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button class="backbu"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Olvido su contraseña?</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="pass">
  <div class="pass">
    <ion-avatar class="Icono">
      <ion-icon class="Icono" name="lock-open-outline">
      </ion-icon>
    </ion-avatar>

    <p class="msj">Ingresa el correo que esta asociado a tu cuenta</p>

    <ion-item fill="outline" class="Login">
      <ion-label position="floating">Introduzca su correo</ion-label>
      <ion-input placeholder="example@gmail.com"></ion-input>
      <ion-icon name="walk-sharp" slot="end"></ion-icon>
    </ion-item>
  </div>
  
  <ion-button class="boton" fill="Solid">Enviar
    <ion-icon name="glasses-outline" slot="end"></ion-icon>
  </ion-button>
</ion-content>