.pass{
  width: auto;
  --background: url(https://i.pinimg.com/474x/94/23/b6/9423b61549f78bef239492cf6be6ac78.jpg);
}
.msj{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    color: orange;
    text-align: center;
}
.Login{
    width: 300px;
    margin:10px; 
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .menu{
    margin-bottom: 15px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .Icono{
    width: 120px;
    height:120px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }