<ion-header>
  <ion-toolbar>
    <ion-title>Forgot-Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar class="menu">
    <ion-buttons routerLink="/home" slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña </ion-title>
  </ion-toolbar>
  <div class="pass">
    <p class="msj">Ingresa el correo que esta asociado a tu cuenta</p>

    <ion-item fill="outline" class="Login">
      <ion-label position="floating">Introduzca su correo</ion-label>
      <ion-input placeholder="example@gmail.com"></ion-input>
      <ion-icon name="walk-sharp" slot="end"></ion-icon>
    </ion-item>
  </div>
  <ion-button class="boton" fill="outline">Enviar
    <ion-icon name="paw-outline" slot="end"></ion-icon>
  </ion-button>
</ion-content>