<ion-header>

  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button class="backbu"></ion-back-button>
    </ion-buttons>
    <ion-title>¿Olvido su contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pass">
  <form [formGroup]="onPassForForm">
  <div class="pass">
    <ion-avatar class="Icono">
      <ion-icon class="Icono" name="lock-open-outline">
      </ion-icon>
    </ion-avatar>
    
    <ion-label class="msj">Ingresa el correo que esta asociado a tu cuenta</ion-label>
    <ion-item fill="outline" class="Login">
      <ion-label position="floating">Introduzca su correo</ion-label>
     
      <ion-input formControlName="email" type="email" placeholder="example@gmail.com"></ion-input>
      <ion-icon name="walk-sharp" slot="end"></ion-icon>
    </ion-item>
   
  </div>

  <ion-button [disabled]="!onPassForForm.valid" (click)="doSend()" class="boton" fill="Solid">Enviar
    <ion-icon name="glasses-outline" slot="end"></ion-icon>
  </ion-button>
</form>
</ion-content>