/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.Login{
    width: 500px;
    margin:10px; 
    margin-left: 230px;
 
}
.Icono{
  width: 120px;
  height:120px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

    


.menu{
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;

    --background: #7dc35a;
    --color: rgb(243, 243, 245);
  
    --border-radius: 0;
    --border-color: #eeefed;
    --border-style: solid;
    --border-width: 1px;
  
}

.boton{
  width: 180px;
  height:70px;
  vertical-align: -0px;
  margin-left: 408px;

  
  --background: #7dc35a;
  --color: rgb(243, 243, 245);

  --border-radius: 0;
  --border-color: #eeefed;
  --border-style: solid;
  --border-width: 1px;
}

.etiqueta{
  width: 500px;
    margin:10px; 
    margin-left: 240px;
}
