<style>
  body {
    background-image: url("/src/assets/Majorask.gif");
    background-color: #060606;
   }
</style>

<ion-header [translucent]="true">
  </ion-header>
  
  <ion-content  [fullscreen]="true" >
    
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="menus">
          <ion-title>Contenidos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-button class="ion-padding" routerLink="/login">Login</ion-button>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button class="bumenu"></ion-menu-button>
          </ion-buttons>
          <ion-title>Home</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      </ion-content>
    </div>
  </ion-content>