.pass{
    width: auto;
    --background: url(https://i.pinimg.com/474x/94/23/b6/9423b61549f78bef239492cf6be6ac78.jpg);
  }
.register{
    width: 300px;
    margin: 15px;
    margin-left: 32px;

}



 