<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar class="menu">
    <ion-buttons routerLink="/home" slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Página web </ion-title>
  </ion-toolbar>

  <ion-item fill="outline" class="register">
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input placeholder="Ejemplo Dulce2000"></ion-input>
    <ion-icon name="walk-sharp" slot="end"></ion-icon>
  </ion-item>

  <ion-item fill="outline" class="register">
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="Correo" placeholder="Ejemplo@gmail.com"></ion-input>
    <ion-icon name="walk-sharp" slot="end"></ion-icon>
  </ion-item>

  <ion-item fill="outline" class="register">
    <ion-label position="floating">Introduce tu Contraseña</ion-label>
    <ion-input type="password"></ion-input>
    <ion-icon name="key-sharp" slot="end"></ion-icon>
  </ion-item>

  <ion-item fill="outline" class="register">
    <ion-label position="floating">Vuelve a introducir tu Contraseña</ion-label>
    <ion-input type="password"></ion-input>
    <ion-icon name="key-sharp" slot="end"></ion-icon>
  </ion-item>

  <ion-button class="boton" fill="outline">Registrarse     
    <ion-icon name="paw-outline" slot="end"></ion-icon>
  </ion-button>
  
</ion-content>